<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PopcornPicks</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>PoPcornPicks</h1>
        <div class="input-wrapper">
            <input type="text" id="movieInput" placeholder="Search and select movies..." autocomplete="off" />
        </div>
        <div id="selectedMovies"></div>
        <button onclick="getRecommendations()">Get Recommendations</button>
        <div id="recommendations"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
